<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-136238031-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-136238031-1');
</script>
</head>
<% if !current_user.nil? %>
  <div class="home-page">
    <div class="home-left">
    </div>
    <div class="home-main">
      <div class="newpost-box">
        <form action="/newpost" method="post">
          <div class="newpost">
            <div>
              <textarea name="text" type="text" placeholder="今日は練習した？" class="new-form">
              </textarea>
            </div>
            <div>
              <input type="submit" value="投稿" class="newpost-btn">
            </div>
          </div>
        </form>
      </div>
      <div class="post-scroll">
        <% @posts.each do |post| %>
          <div class="post">
            <a href="/users/<%= post.user.username %>">
              <div class="post-user">
                <div class="post-nickname">
                  <b>
                    <%= post.user.nickname %>
                  </b>
                </div>
                <div>
                  <p class="post-username">
                    @<%= post.user.username %>
                  </p>
                </div>
              </div>
            </a>
            <a class="mordal-post-open" data-id="<%= post.id %>">
              <div>
                <p class="post-text">
                  <%= post.text.gsub(/(\r\n|\r|\n)/,"<br />") %>
                </p>
              </div>
            </a>
              <% if post.user_id == current_user.id %>
                <div>
                  <form action="/post/<%= post.id %>/delete" method="post" class="delete">
                    <input type="submit" value="削除" class="delete-btn">
                  </form>
                </div>
              <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="home-right">
    </div>
  </div>
  <div class="mordal">
  </div>
<% end %>
<script>
  $(function(){
    $(".mordal-post-open").click(function(){
      var postId = $(this).data('id');
      $.ajax({
        url: '/mordal',
        type: 'GET',
        data: {
          id: postId
        },
        success: function( data ){
          $(".mordal").html(data).css('display', 'block');
        }
      });
    });

    $(document).on("click", ".mordal-background", function(){
      $(".mordal").css('display', 'none')
    });
  });
</script>

<style>
  * {
      margin: 0;
      padding: 0;
      font-family: "東青梅ゴシック";
      height: 100%;
      color: #4a4a4a;
      font-size: 14px;
  }

  div {
    height: auto;
  }

  a {
    text-decoration: none;
  }

  input {
    padding: 0;
    border: none;
    border-radius: 0;
    outline: none;
    background: none;
  }

  textarea {
    padding: 0;
    border: none;
    border-radius: 0;
    outline: none;
    background: none;
  }

  body {
    width: 100%;
    height: 100%;
    position: relative;
  }
  @media (min-width: 700px){
    .home-page {
      display: flex;
    }

    .home-right,
    .home-left {
      flex: 1;
    }

    .home-main {
      width: 560px;
    }
  }

  .home-page {
    margin-top: 46px;
    height: 100%;
    background-color: #e6ecef;
  }

  .home-main {
    align-self: stretch;
    position: relative;
    background-color: #fff;
  }

  .mordal {
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .newpost-box {
    height: 70px;
    padding: 3px;
    border-bottom: 1px solid rgba(74,74,74);
  }

  .newpost {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    height: 66px;
  }

  .newpost-btn {
    display: inline-block;
    max-width: 60px;
    text-align: left;
    border: 1px solid #16c4fd;
    font-size: 12px;
    color: #16c4fd;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
    transition: .4s;
    background-color: #fff;
    padding:4px 6px;
    position: absolute;
    bottom: 0px;
    right: 5px;
    height: auto;
  }

  .newpost-btn:hover {
    background-color: #16c4fd;
    border-color: #16c4fd;
    color: #fff;
  }

  .post {
    margin: 2px;
  }

  .post-user {
    height: 30px;
  }

  .post-nickname {
    overflow: hidden;
    font-weight: bold;
  }

  .post-username {
    float: left;
    color: #657786;
  }

  .post-text {
    word-break: break-all;
    margin: 10px;
  }

  .delete {
    position: relative;
  }

  .delete-btn {
    display: inline-block;
    max-width: 60px;
    text-align: left;
    border: 1px solid #CA1E04;
    font-size: 12px;
    color: #CA1E04;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
    transition: .4s;
    background-color: #fff;
    padding:4px 6px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: auto;
  }

  .delete-btn:hover {
    background-color: #CA1E04;
    border-color: #CA1E04;
    color: #fff;
  }

  .post {
    border: 1px solid #e6ecef;
    margin: 0px;
  }
</style>