<% if !current_user.nil? %>
  <div class="home-page">
    <div class="home-left">
    </div>
    <div class="home-main">
      <div class="newpost-box">
        <form action="/newpost" method="post">
          <div class="newpost">
            <div>
              <input name="text" type="text" placeholder="今日は練習した？">
            </div>
            <div>
              <input type="submit" value="投稿">
            </div>
          </div>
        </form>
      </div>
      <div class="post-scroll">
        <% @posts.each do |post| %>
          <div class="post">
            <div class="post-user">
              <div class="post-nickname">
                <b>
                  <a href="/<%= post.user.username %>">
                    <%= post.user.nickname %>
                  </a>
                </b>
              </div>
              <div>
                <b class="post-username">@<%= post.user.username %></b>
              </div>
            </div>
            <a id="modal-post-open" class="modal-post-open">
              <div>
                <p class="post-text"><%= post.text %></p>
              </div>
            </a>
              <% if post.user_id == current_user.id %>
                <div>
                  <form action="/post/<%= post.id %>/delete" method="post">
                    <input type="submit" value="削除">
                  </form>
                </div>
              <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="home-right">
    </div>
  </div>
    <div class="modal" id="modal-post">
    </div>
<% end %>
<script>
$(function(){
  $("#modal-post-open").on('click', function(){
    $.ajax({
      url: '/modal',
      type: 'GET',
      success: function( data ){
        $("#modal-post").html(data);
        console.log(data);
          var navClass = $(this).attr("class"),
              href = $(this).attr("href");
          $(href).fadeIn();
          $(href).html();
          $(this).addClass("open");
      }
    });
  });
  $(".modal-background").click(function(){
            $(this).parents(".modal").fadeOut();
              $(".modal-post-open").removeClass("open");
                  return false;
  });
});
</script>